*foreground:        #010000
*background:        #8a8a8a
*.foreground:       #010000
*.background:       #8a8a8a

*.color0: #8a8a8a
*color0:  #8a8a8a
*.color1: #F8EF08
*color1:  #F8EF08
*.color2: #BCB550
*color2:  #BCB550
*.color3: #2E3192
*color3:  #2E3192
*.color4: #504C9C
*color4:  #504C9C
*.color5: #04ABED
*color5:  #04ABED
*.color6: #5DC9EA
*color6:  #5DC9EA
*.color7: #010000
*color7:  #010000
*.color8: #828a5c
*color8:  #828a5c
*.color9: #F8EF08
*color9:  #F8EF08
*.color10: #BCB550
*color10:  #BCB550
*.color11: #2E3192
*color11:  #2E3192
*.color12: #504C9C
*color12:  #504C9C
*.color13: #04ABED
*color13:  #04ABED
*.color14: #5DC9EA
*color14:  #5DC9EA
*.color15: #010000
*color15:  #010000
*.color66: #8a8a8a
*color66:  #8a8a8a

XClock*foreground: #010000
XClock*background: #8a8a8a
XClock*majorColor:  rgba:01/00/00/ff
XClock*minorColor:  rgba:01/00/00/ff
XClock*hourColor:   rgba:01/00/00/ff
XClock*minuteColor: rgba:01/00/00/ff
XClock*secondColor: rgba:01/00/00/ff

URxvt*depth: 32
